* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
}

nav li {
  list-style: none;
}

h1 {
  text-align: center;
}