<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CTL</title>
  <link rel="stylesheet" href="./styles/styles.css">
  <script src="https://kit.fontawesome.com/4784423618.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
  <img src="./images/ctl.png" alt="CTL-Logo" class="logo">
  <nav>
      <button><a href="#"><span class="icon"><i class="fa-solid fa-house fa-2xs"></i></span>Home</a></button>
      <button><span class="icon"><i class="fa-solid fa-phone fa"></i></span><a href="#">Contacts</a></button>
      <div class="dropdown">
      <button class="dropbtn"><span class="icon"><i class="fa-solid fa-handshake fa"></i></span><a href="#">Partners</a>
        <div class="dropdown-content">
          <a href="./partners.html">Syngraffi</a>
          <a href="./partners.html">Printcity</a>
          <a href="./partners.html">Globalsign</a>
        </div>
      </button>
    </div>
      <button><span class="icon"><i class="fa-solid fa-lightbulb fa"></i></span><a href="#">Solutions</a></button>

  </nav>
</div>
  <main>
  <header>
    <h1>Collaborative Technologies Limited</h1>
    <!-- <hr class="fading"> -->
  </header>
  <section class="main">
    <article>
      <h3 class="title">Who are we</h3>
      <hr>
      <p>
        CTL is a technologies solutions provider focused on assisting clients acquire, 
        implement and/or optimize the converging systems within their organization.
        CTL is a proudly Kenya based company delivering business convergent technology
        solution and risk protection services within the EAC and across Africa.
      </p>
      <p>
        CTL is comprised of senior business leaders well versed in technologies,
        methodologies and strategies capable of helping clients identify and overcome
        the product, processes, people, sales and risk challenges they may be facing. 
      </p>
      </article>
      <article>
      <h3 class="title">Why Us</h3>
      <hr>
      <p>
        The changing digital enterprise landscape is bringing change and opportunity to 
        all organizations wishing to leverage to their benefits of converging technologies.
        As enterprises look to move more workloads off-premises, they need strategies to
        mitigate risk and ensure that their service providers can work with any remaining 
        on-premises environments, other key external service providers, while complying with 
        governance and compliance requirements that are also changing.
      </p>        
        <p>They form the backbone of the digital enterprise and also are key to aligning the business 
        with IT for efficiency and agility.        
        Solely placing emphasis on digital infrastructures and the alignment of business with IT 
        are, however, insufficient for the future of the truly collaborative digital enterprise. 
        There is much more at stake in the digital evolution. The digital enterprise needs to also 
        address the additional convergence of applications, data and the capacities to execute, 
        store and connect, truly the convergence of a portfolio of services and choices that offer 
        an optimized combination of policy, placement and capabilities.     
      </p>
    </article>
  </section>
  <section class="services">
    <h3 class="title">Services We offer</h3>
    <hr class="fading">
    <div class="services-1">
      <div>
        <h4 class="title">E-signatures</h4>
        <p>
          These digital signatures serve as legally binding endorsements, 
          replacing traditional paper signatures. With e-signatures on your website, 
          users can easily review and sign documents electronically, 
          eliminating the need for physical paperwork and streamlining the process.           
        </p>
      </div>
      <div>
        <h4 class="title">Network-infrastructure</h4>
        <p>
          Network infrastructure is the backbone of modern connectivity, encompassing the hardware, 
          software, and protocols that enable the seamless flow of data within and between organizations. 
          This critical framework includes routers, switches, servers, cabling, and network devices that 
          support data transmission and communication.
        </p>
      </div>
      <div>
        <h4 class="title">Print-managment</h4>
        <p>
          Print management solutions help organizations reduce printing costs, 
          improve document security, and minimize their environmental footprint 
          by implementing features such as print quotas, 
          secure release printing, and centralized control over print settings.
        </p>
      </div>
      <div>
        <h4 class="title">SSl-PKI</h4>
        <p>
          SSL certificates are essential for websites, especially e-commerce platforms and 
          those handling sensitive information. 
          They create a secure environment for online transactions, user logins, and data transfers.
        </p>
      </div>
    </div>
  </section>
  <section class="form">
    <h4 class="title">Contact Us</h4>
    <form action="" method="get">
      <label for="name">Name: </label>
      <input type="text" name="name" placeholder="John Doe">
    </form>
  </section>
</main>
</body>
</html>