* {
    box-sizing: content-box;
}

html {

}

body {
    margin: 0;
}


.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
header {
    height: 65vh;
    font-family: sans-serif;
    background-image: url('../../images/background.jpg');
    background-size: 99.9%;
    background-attachment: fixed;
    position: relative;
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    font-size: 25px;
}

.logo {
    height: 50;
    width: 50px;
    z-index: 1;

    img {
        height: 100%;
        width: 100%;
    }
}

.header-content {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 30px;
    p {
        font-size: 30px;
    }
    button {
        background-color: #55DD73;
        border-radius: 30px;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        color: white;

        &:hover {
            background-color: rgba(40, 190, 73, 0.9);
            transition: 0.5s ease;
        } 
    }
}


nav {
    display: flex;
    justify-content: space-between;

    .logo {
        height: 100px;
        width: 100px;
    }

    .nav-elements {
        width: 30%;
        ul {
            display: flex;
            gap: 10px;
            justify-content: space-evenly;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 25px;

                    &:hover {
                        color: rgba(184, 181, 181, 0.9);
                        transition: 0.5s ease;
                    }
                }
            }
        }
        
    }
}

#who-are-we {
    background-color: white;
    height: 40vh;
    padding: 70px;
    display: flex;
    justify-content: space-between; 

    .paragraph {
        width: 50%;
        font-size: 20px;
        text-align: justify;
    }
}

.box-c {
    position: relative;
    width: 30%;
    height: 100%;
}

.blue {
    position: absolute;
    background-color: #55DDDD;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.green {
    position: absolute;
    background-color: #55DD73;
    top: -20px;
    left: -30px;
}

.small-square {
    height: 150px;
    width: 150px;
    z-index: 1;
}

.big-square {
    height: 250px;
    width: 250px;
}

.banner {
    width: 100%;
    background-color: transparent;
    color: black;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#services {
    padding: 30px;
    height: 40vh;
    background-color: rgba(128, 128, 128, 0.3);
    margin-bottom: 50px;
}

.service {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 25px;
    }
}

.services-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    height: 100%;
}

.svg-icon {
    height: 30px;
    width: 30px;
}

#contact-us {
    padding: 30px;
}

.body-nav {
    padding: 20px;
    background: linear-gradient(to right, rgba(128, 128, 128, 0.801), rgba(0, 0, 0, 0.897));
    height: 50px;
    width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.details {
    margin-top: 80px;
}

footer {
    height: 30vh;
}